<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.granjapp">

    <uses-configuration android:name="android.permission.ACCES_FINE_LOCATION" />
    <uses-configuration android:name="android.permission.ACCES_COARSE_LOCATION" />
    <uses-configuration android:name="android.permission.INTERNET" />
    <uses-configuration android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Granjapp">
        <activity
            android:name=".HistorialPuntosdeVenta"
            android:exported="false" />
        <activity
            android:name=".CalendarioCampesino"
            android:exported="false" />
        <activity
            android:name=".MapaGranjeroActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCompradorActivity"
            android:exported="false" />
        <activity
            android:name=".MenuGranjeroActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionSocioActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionCampesinoActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionCompradorActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionarRolInicioDeSesionActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroSocioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroGranjeroActivity"
            android:exported="false" />
        <activity
            android:name=".seleccionarrolregistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".IniciodeAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7HJlNFzMsFulH14fAhF24PY5xVVGIlLU" />
    </application>

</manifest>